# Shell
ipython

# Django
Django
pillow
django-crispy-forms
django-sendgrid-v5
django-stdimage
phonenumbers
django-phonenumber-field
django-axes

# Unit test
pytest-django

# Helpers
requests

# Database
#psycopg2

# Dev tools
django-debug-toolbar
pylint-django
django-extensions

# Hosting
gunicorn