# Shell
ipython

# Django
Django
pillow
django-crispy-forms
django-sendgrid-v5

# Helpers
requests
tldextract

# Database
psycopg2

# Dev tools
django-debug-toolbar
pylint-django
django-extensions

# Hosting
gunicorn