{% extends "base.html" %}
{% load i18n %}

{% block content %}
<section class="ftco-section">
    <div class="container">
        <div class="alert alert-info" role="alert">{% trans 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</div>
        <div class="alert alert-info" role="alert">{% trans 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</div>
    </div>
</section>
{% endblock %}