{% extends "base.html" %}
{% load crispy_forms_tags i18n %}

{% block content %}
<section class="ftco-section">
    <div class="container">
        <div class="alert alert-info" role="alert">{% trans 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</div>

        <form method="post">{% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">{% trans 'Reset my password' %}</button>
        </form>
    </div>
</section>
{% endblock %}