{% extends 'base.html' %}

{% block content %}
<h1>Indkøbskurv</h1>
<form method="post" action="{% url 'basket_update' %}">{% csrf_token %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Produkt</th>
        <th scope="col">Butik</th>
        <th scope="col">Farve</th>
        <th scope="col">Størrelse</th>
        <th scope="col">Antal</th>
        <th scope="col">Pris</th>
        <th scope="col">Subtotal</th>
        <th scope="col">Slet</th>
      </tr>
    </thead>
    <tbody>
        {% for item in basket %}
            <tr>
                <th>{{ item.product }}</th>
                <th>{{ item.shop }}</th>
                <td>{{ item.color }}</td>
                <td>{{ item.size }}</td>
                <td><input type="number" name="count_{{item.product_id}}_{{item.color_id}}_{{item.size_id}}" class="form-control update-count" value="{{ item.count }}"></td>
                <td>{{ item.price }}</td>
                <td>{{ item.subtotal }}</td>
                <td>
                    <button type="submit" class="btn btn-link" name="action" value="remove_{{item.product_id}}_{{item.color_id}}_{{item.size_id}}"><i class="far fa-trash-alt"></i></button>
                </td>
              </tr>
        {% endfor %}
    </tbody>
</table>
<button type="submit" class="btn btn-secondary" name="action" value="update">Opdater</button>
<button type="submit" class="btn btn-primary" name="action" value="order">Bestil</button>
</form>
{% endblock %}