{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<h1>{% trans "Products overview" %}</h1>

{% if not request.session.postcode %}
    <div class="alert alert-info" role="alert">
        {% trans "No postcode selected, please select one here" %}: <a href="{% url 'postcode_index' %}">{% trans "select postcode" %}!</a>
    </div>
{% endif %}

<div class="row row-cols-1 row-cols-md-3 mt-3">
    {% for product in object_list %}
        <div class="col mb-4">
            <form method="post" action="{% url 'basket_add' %}">{% csrf_token %}
                <input type="hidden" name="product" value="{{ product.pk }}">
                {% if product.image %}
                    <img src="/{{ product.image.full.url }}" class="card-img-top" alt="{% trans 'Product image' %}">
                {% endif %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        {% if product.size.count > 0 %}
                            <div class="form-group">
                                <select class="form-control" name="size">
                                    {% for size in product.size.all %}
                                        <option value={{ size.pk }}>{{ size.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                        {% if product.color.count > 0 %}
                            <div class="form-group">
                                <select class="form-control" name="color">
                                    {% for color in product.color.all %}
                                        <option value={{ color.pk }}>{{ color.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                        <address class="d-flex flex-row align-items-center">
                            <a target="_blank" href="https://www.google.com/maps/search/?api=1&{{ product.shop.location }}"><i class="fas fa-map-marked-alt"></i></a>
                            <div class="pl-2">
                                <strong>{{ product.shop }}</strong><br>
                                {{ product.shop.address }}<br>
                                {{ product.shop.zipcode }} {{ product.shop.city }}
                            </div>
                        </address>
                    </div>
                    <div class="card-footer text-muted">
                        <button type="submit" class="btn btn-link"><i class="fas fa-plus-circle"></i> {% trans "Buy" %}</button>
                    </div>
                </div>
            </form>
        </div>
    {% empty %}
        <li>{% trans "No products yet." %}</li>
    {% endfor %}
</div>
{% endblock %}
