{% extends 'base.html' %}

{% load i18n static %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}"><span>Food</span><span style="color: #ffa323;">Bee</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav">
                    <li class="nav-item {% if request.resolver_match.url_name == "shops" %}active{% endif %}">
                        <a href="{% url 'shops' %}" class="nav-link">{% trans "Shops" %}</a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == "shop_register" %}active{% endif %}">
                        <a href="{% url 'shop_register' %}" class="nav-link">{% trans "Register" %}</a>
                    </li>
                </ul>
                <form class="form-inline my-4 my-lg-0 ml-2 ml-auto">
                    <div class="input-group sm-2">
                        <input type="search" class="form-control" placeholder="{% trans "Search" %}"
                            aria-label="{% trans "Search" %}" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        {% if basket_counter > 0 %}
                        <a class="nav-link" href="{% url 'basket_index' %}">
                            <i class="fas fa-shopping-cart"></i>
                            {% trans "Basket" %}
                            <span class="badge badge-pill badge-secondary" id="basket-counter">{{ basket_counter }}</span>
                        </a>
                        {% else %}
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
                            <i class="fas fa-shopping-cart"></i>
                            {% trans "Basket" %}
                            <span class="badge badge-pill badge-secondary" id="basket-counter">0</span>
                        </a>
                        {% endif %}
                    </li>

                    <form class="form-inline my-4 my-lg-0 ml-2 ml-auto" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ request.get_full_path }}">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            {% if language.code != LANGUAGE_CODE %}
                                <input name="language" type="hidden" value="{{ language.code }}">
                                <button class="btn btn-outline-secondary" type="submit">{{ language.code.upper }}</button>
                            {% endif %}
                        {% endfor %}
                    </form>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}

{% block carousel %}
    <section class="home-slider owl-carousel js-fullheight">
        <div class="slider-item js-fullheight" style="background-image: url(/static/base/colorlib/images/bg_1.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text js-fullheight justify-content-center align-items-center"
                    data-scrollax-parent="true">
                    <div class="col-md-12 col-sm-12 text-center ftco-animate">
                        <h1 class="mb-4 mt-5">{% trans "Bringing local businesses to you" %}</h1>
                        <p><a href="#" class="btn btn-orange p-3 px-xl-4 py-xl-3">{% trans "Browse offers" %}</a> <a
                                href="#"
                                class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">{% trans "View shops" %}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item js-fullheight" style="background-image: url(/static/base/colorlib/images/bg_2.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text js-fullheight justify-content-center align-items-center"
                    data-scrollax-parent="true">
                    <div class="col-md-12 col-sm-12 text-center ftco-animate">
                        <h1 class="mb-4 mt-5">{% trans "Paving the way for entrepreneurs" %}</h1>
                        <p><a href="#" class="btn btn-orange p-3 px-xl-4 py-xl-3">{% trans "Browse offers" %}</a> <a
                                href="#"
                                class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">{% trans "View shops" %}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item js-fullheight" style="background-image: url(/static/base/colorlib/images/bg_3.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text js-fullheight justify-content-center align-items-center"
                    data-scrollax-parent="true">
                    <div class="col-md-12 col-sm-12 text-center ftco-animate">
                        <h1 class="mb-4 mt-5">{% trans "Quality products on public display" %}</h1>
                        <p><a href="#" class="btn btn-orange p-3 px-xl-4 py-xl-3">{% trans "Browse offers" %}</a> <a
                                href="#"
                                class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">{% trans "View shops" %}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block postcode %}
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-10 wrap-about ftco-animate text-center fadeInUp ftco-animated">
                    <div class="heading-section mb-4 text-center">
                        <span class="subheading">{% trans "Postcode" %}</span>
                        <h2 class="mb-4">{% trans "Enter your postcode" %}</h2>
                    </div>
                    <form method="post" action="{% url 'postcode_set' %}">{% csrf_token %}
                        <div class="input-group mb-3">
                            <input 
                                type="text" 
                                class="form-control" 
                                placeholder="{% trans "Enter postcode" %}" 
                                id="id_postcode" 
                                name="postcode" 
                                maxlength="4" 
                                aria-label="{% trans 'Postcode' %}" 
                                aria-describedby="button-postcode">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit" id="button-postcode">{% trans "Submit" %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="ftco-section">
        <div class="container-fluid px-4">
            <div class="row justify-content-center mb-5 pb-2">
                <div class="text-center heading-section ftco-animate">
                    <span class="subheading">{% trans "Something tasty" %}</span>
                    <h2 class="mb-4">{% trans "Products overview" %}</h2>
                </div>
            </div>
            <div class="row">
                {% include "product/product_list.html" %}
            </div>
        </div>
    </section>
{% endblock %}

{% block bodyscript %}
<script src="{% static 'base/js/basket.js' %}"></script>
{% endblock %}