{% load i18n %}

{% for product in object_list %}
    <div class="col-md-6 col-lg-4 col-xl-3 menu-wrap">
        <div class="menus ftco-animate d-flex flex-column">
            <div class="flex-grow-1">
                <div class="d-flex">
                    {% if product.image %}
                        <div class="menu-img img" style="background-image: url(/{{ product.image.full.url }});"></div>
                    {% endif %}
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <h3>{{ product.name }}</h3>
                            </div>
                            <div class="one-forth">
                                <span class="price">{{ product.get_price }} {% if product.offer_price %}<del>{{product.price}}</del>{% endif %}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>{{ product.description }}</div>
            </div>
            <div>
                <form method="post" action="{% url 'basket_add' %}">{% csrf_token %}
                    <input type="hidden" name="product" value="{{ product.pk }}">
                    <div class="input-group mb-3">
                        <input type="number" name="count" class="form-control" min="1" step="1" value="1" placeholder="Numbers" aria-label="Numbers of products" aria-describedby="button-addon-{{ product.id }}">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary" id="button-addon-{{ product.id }}"><i class="fas fa-plus-circle"></i> {% trans "Buy" %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% empty %}
    <li>{% trans "No products yet." %}</li>
{% endfor %}