{% extends 'base.html' %}
{% load i18n static %}


{% block content %}
    <section class="ftco-section ftco-wrap-about ftco-no-pb">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-sm-10 wrap-about ftco-animate text-center">
					<div class="heading-section mb-4 text-center">
					<!--span class="subheading">About</span-->
					<h2 class="mb-4">{% trans "MayBee the best food platform in the world" %}</h2>
					</div>
					<p>{% trans "These days, everyone relies on everyday products from local shops, and many shop-owners are fighting to keep their business intact in a world where everyone makes their purchases from home." %}</p>
					<p>{% trans "In a time of restricted public access, it is difficult to compete with the online presence of chain stores, and most modern platforms take a big cut of the profit in exchange for providing exposure to the shop." %}</p>
                    <p>{% trans "FoodBee guides local businesses in their digital migration to display their craft to a wider audience, while keeping the payment entirely between the shop & the customer." %}</p>
					<div class="video justify-content-center">
						<a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
  						<span class="ion-ios-play"></span>
	  				</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url({% static "base/colorlib/images/bg_4.jpg" %});" data-stellar-background-ratio="0.5">
    	<div class="container">
    		<div class="row d-md-flex align-items-center justify-content-center">
    			<div class="col-lg-10">
    				<div class="row d-md-flex align-items-center">
						<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18">
								<div class="text">
								<strong class="number" data-number="15000">0</strong>
								<span>Happy Customers</span>
								</div>
							</div>
						</div>
						<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18">
								<div class="text">
								<strong class="number" data-number="100">0</strong>
								<span>Products</span>
								</div>
							</div>
						</div>
						<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18">
								<div class="text">
								<strong class="number" data-number="20">0</strong>
								<span>Shops</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
    	</div>
    </section>

	<section class="ftco-section" id="About_Alten">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-sm-10 wrap-about ftco-animate text-center">
					<div class="heading-section mb-4 text-center">
						<a class="navbar-brand" href="https://www.linkedin.com/company/alten-danmark/">
							<img src="{% static "base/img/Alten_Logo_Complete_original_colour.gif" %}" class="img-fluid" alt="Alten" style="max-height: 180px;">
						</a>
					</div>
					<p>{% trans "ALTEN Denmark has developed FoodBee, a platform to help smaller businesses, like cheese shops, butchers, wine shops etc. display and sell their products online." %}</p>
					<p>{% trans "The platform will allow shop owner to display and sell a limited number of their most popular goods to a wider audience, keeping the payment process entirely between the customer & the shop, as opposed to many modern platforms where a cut is taken from the shop profit on each order." %}</p>
					<ul class="ftco-footer-social list-unstyled float-md-center ft mt-3">
					<li class="ftco-animate"><a href="https://www.facebook.com"><span class="icon-facebook"></span></a></li>
					<li class="ftco-animate"><a href="https://www.instagram.com"><span class="icon-instagram"></span></a></li>

                    <!--<li class="ftco-animate"><a href="mailto:info@foodbee.dk"><span class="icon-envelope"></span></a></li>
                    <li class="ftco-animate"><a href="tel:+4512312312"><span class="icon-phone"></span></a></li>-->
                    <li class="ftco-animate"><a href="https://www.linkedin.com/company/alten-danmark/"><span class="icon-linkedin"></span></a></li>
                    </ul>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
