{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <h1>{% trans "About FoodBee" %}</h1>
                        
    <h3>{% trans "MayBee the best food platform in the world" %}</h3>
    <p>
        {% trans "These days, everyone relies on everyday products from local shops, and many shop-owners are fighting to keep their business intact in a world where everyone makes their purchases from home." %}
    </p>
    <p>
        {% trans "ALTEN Danmark has developed FoodBee, a platform to help smaller businesses, like cheese shops, butchers, wine shops etc. display and sell their products online." %}
    </p>

    <a class="btn btn-primary" href="https://www.facebook.com/">
        <i id="social-fb" class="fab fa-fw fa-facebook-square social"></i>
    </a>
    <a class="btn btn-primary" href="https://www.linkedin.com/company/alten-danmark/">
        <i id="social-li" class="fab fa-fw fa-linkedin social"></i>
    </a>
    <a class="btn btn-primary" href="mailto:ourcontanctaddress@alten.dk">
        <i id="social-em" class="fas fa-fw fa-envelope-square social"></i>
    </a>
{% endblock %}
