{% load i18n %}
{% load static %}
<footer class="page-footer font-small purple pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mt-md-0 mt-3">
                <div class="view overlay z-depth-1-half">
                    <img src="{% static "img/ALTEN_logo.svg.png" %}" class="img-fluid" alt="Alten">
                </div>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">{% trans "For shoppers" %}</h5>
                <ul class="list-unstyled">
                    <li><a href="#!">{% trans "Register here" %}</a></li>
                    <li><a href="#!">{% trans "How it works" %}</a></li>                    
                </ul>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">{% trans "For shops" %}</h5>
                <ul class="list-unstyled">
                    <li><a href="#!">{% trans "Register here" %}</a></li>
                    <li><a href="#!">{% trans "Benefits" %}</a></li>
                    <li><a href="#!">{% trans "Business model" %}</a></li>
                </ul>
            </div>
            <!-- Grid column -->
        </div>
    </div>
    <!-- Copyright -->
    <!--
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        a href="https://mdbootstrap.com/"> MDBootstrap.com</!--a>
    </div>
    -->
    <!-- Copyright -->
</footer>