{% load i18n static %}
<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container-fluid px-md-5 px-3">
        <div class="row mb-5">
            <div class="col-md-12 col-lg-4">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">FoodBee</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                    <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                    <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                    <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 text-center text-md-center" >
                <div class="ftco-footer-widget mb-4">
                    <div class="view overlay z-depth-1-half" >
                        <a class="navbar-brand" href="{% url 'about' %}">
                            <img src="{% static "base/img/Alten_Logo_Complete_white.gif" %}" class="img-fluid" alt="Alten" style="max-height: 220px;">
                        </a>
                    </div>
                </div>
            </div>   
            <div class="col-md-12 col-lg-4">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Open Hours</h2>
                    <ul class="list-unstyled open-hours">
                    <li class="d-flex"><span>Monday</span><span>9:00 - 24:00</span></li>
                    <li class="d-flex"><span>Tuesday</span><span>9:00 - 24:00</span></li>
                    <li class="d-flex"><span>Wednesday</span><span>9:00 - 24:00</span></li>
                    <li class="d-flex"><span>Thursday</span><span>9:00 - 24:00</span></li>
                    <li class="d-flex"><span>Friday</span><span>9:00 - 02:00</span></li>
                    <li class="d-flex"><span>Saturday</span><span>9:00 - 02:00</span></li>
                    <li class="d-flex"><span>Sunday</span><span> 9:00 - 02:00</span></li>
                    </ul>
                </div>
            </div>             
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>