{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 mt-3">
    {% for product in object_list %}
        <div class="col mb-4">
            <form method="post" action="{% url 'basket_add' %}">{% csrf_token %}
                <input type="hidden" name="product" value="{{ product.pk }}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        {% if product.size %}
                            <div class="form-group">
                                <select class="form-control" name="size">
                                    {% for size in product.size.all %}
                                        <option value={{ size.pk }}>{{ size.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                        {% if product.color %}
                            <div class="form-group">
                                <select class="form-control" name="color">
                                    {% for color in product.color.all %}
                                        <option value={{ color.pk }}>{{ color.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                        <address>
                        <strong>{{ product.shop }}</strong><br>
                        {{ product.shop.address }}<br>
                        {{ product.shop.zipcode }} {{ product.shop.city }}
                        </address>
                    </div>
                    <div class="card-footer text-muted">
                        <button type="submit" class="btn btn-link"><i class="fas fa-plus-circle"></i> {% trans "Buy" %}</button>
                    </div>
                </div>
            </form>
        </div>
    {% empty %}
        <li>{% trans "No products yet." %}</li>
    {% endfor %}
</div>
{% endblock %}
