{% extends 'shop/base.html' %}

{% load i18n %}

{% block content %}
<section class="ftco-section">
    <div class="container">
        <h1>{% trans "Inactive products" %}</h1>

        <a href="{% url 'shop_product_create' %}" class="btn btn-success">{% trans "Add product" %}</a>

        <hr>

        <div class="list-group">
            {% for product in object_list %}
                <a href="{% url 'shop_product_update' pk=product.pk %}" class="list-group-item list-group-item-action">
                    {{ product.name }}
                </a>
            {% empty %}
                <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">{% trans "No active products." %}</a>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
