{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<section class="ftco-section">
    <div class="container">
        <h1>{% trans "Shops" %}</h1>

        <div class="list-group">
            {% for shop in object_list %}
                <a href="{% url 'shop_detail' pk=shop.pk %}" class="list-group-item list-group-item-action">
                    {{ shop.name }}
                </a>
            {% empty %}
                <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">{% trans "No shops." %}</a>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
