{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Log ind{% endblock %}

{% block content %}
    <h1>Log ind</h1>

    <form method="post" action="{% url 'login' %}">{% csrf_token %}
        {{ form|crispy }}
        {% url 'admin_password_reset' as password_reset_url %}
        {% if password_reset_url %}
            <div class="password-reset-link">
                <a href="{{ password_reset_url }}">Glemt dit kodeord eller brugernavn?</a>
            </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Log ind</button>
    </form>
</div>
{% endblock %}