{% extends 'shop/base.html' %}

{% load i18n %}

{% block content %}
<h1>{% trans "Orders" %}</h1>

<div class="list-group">
    {% for order in object_list %}
        <a href="{% url 'show_order_detail' pk=order.pk %}" class="list-group-item list-group-item-action">
            {{ order.pk }}
        </a>
    {% empty %}
        <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">{% trans "No orders." %}</a>
    {% endfor %}
</div>
{% endblock %}
