{% extends 'shop/base.html' %}

{% load i18n %}

{% block content %}
  <h1>{% trans "Overview" %}</h1>
  <div class="list-group">
    <a href="{% url 'shop_new_orders' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      {% trans "New orders" %}
      <span class="badge badge-primary badge-pill">{{ counts.new_orders }}</span>
    </a>
    <a href="{% url 'shop_active_products' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      {% trans "Active products" %}
      <span class="badge badge-primary badge-pill">{{ counts.active_products }}</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      {% trans "Products that will become inactive within 7 days" %}
      <span class="badge badge-primary badge-pill">{{ counts.expiring_products }}</span>
    </a>
    <a href="{% url 'shop_inactive_products' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      {% trans "Inactive products" %}
      <span class="badge badge-primary badge-pill">{{ counts.inactive_products }}</span>
    </a>
  </div>
{% endblock %}
