{% extends 'shop/base.html' %}

{% block content %}
<h1>Produkter</h1>

<a href="{% url 'shop_product_create' %}" class="btn btn-success">Tilføj produkt</a>

<hr>

<div class="list-group">
    {% for product in object_list %}
        <a href="{% url 'shop_product_update' pk=product.pk %}" class="list-group-item list-group-item-action">
            {{ product.name }}
        </a>
    {% empty %}
        <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Ingen produkter.</a>
    {% endfor %}
</div>
{% endblock %}
