{% extends 'base.html' %}
{% load crispy_forms_tags i18n %}

{% block content %}
<section class="ftco-section">
    <div class="container">
        <h1>{% trans "Register your shop today" %}</h1>

        <div id="cvr_error" class="alert alert-danger d-none" role="alert">
            {% trans "CVR not found!" %}
        </div>

        <form id="register-form" method="post" enctype="multipart/form-data" autocomplete="off">{% csrf_token %}
            {{ form|crispy }}
            <script src="https://www.google.com/recaptcha/api.js?render={{ sitekey }}"></script>
            <input type="hidden" name="g-recaptcha-response" id='recaptcha'>
            <button 
                type="submit" 
                class="btn btn-primary"
            >{% trans "Register" %}</button>
        </form>
    </div>
</section>
{% endblock %}

{% block bodyscript %}
<script>
$(function(){
    var url = '{% url "shop_cvr_lookup" %}';
    $("#id_cvr_number").keyup(function(){
        $("#cvr_error").addClass("d-none");
        var cvr = $(this).val();
        if (cvr.length == 8){
            var data = {
                cvr_number: cvr,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
            $.post(url, data, function(response){
                $("#id_name").val(response.name);
                $("#id_address").val(response.address);
                $("#id_postcode_special").val(response.postcode);
                $("#id_city_special").val(response.city);
            }, 'json')
            .error(function(){
                $("#cvr_error").removeClass("d-none");
            }); 
        }
    });
});

grecaptcha.ready(function() {
    $('#register-form').submit(function(event){
        var form = this;
        event.preventDefault();
        grecaptcha.execute('{{ sitekey }}', {action: 'register'}).then(function(token) {
            $('#recaptcha').val(token);
            form.submit();
        });
    });
});
</script>
{% endblock %}